*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  color: black;
}

.mb10{
  margin-bottom: 10px;
}

.mb20{
  margin-bottom: 20px;
}

.box, .box-nest{
  width: 100%;
  height: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.box-nest{
  background-color: teal;
}