.container{
  width: 100%;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

[class*="col-lg"]{
  background-color: cornflowerblue;
  border: 1px solid white;
  padding: 10px;
}

.container{
  width: 100%;
}

.col-xs-1{
  flex-basis: calc((100% / 12) * 1);
  max-width: calc((100% / 12) * 1);
}

.col-xs-2{
  flex-basis: calc((100% / 12) * 2);
  max-width: calc((100% / 12) * 2);
}

.col-xs-3{
  flex-basis: calc((100% / 12) * 3);
  max-width: calc((100% / 12) * 3);
}

.col-xs-4{
  flex-basis: calc((100% / 12) * 4);
  max-width: calc((100% / 12) * 4);
}

.col-xs-5{
  flex-basis: calc((100% / 12) * 5);
  max-width: calc((100% / 12) * 5);
}

.col-xs-6{
  flex-basis: calc((100% / 12) * 6);
  max-width: calc((100% / 12) * 6);
}

.col-xs-7{
  flex-basis: calc((100% / 12) * 7);
  max-width: calc((100% / 12) * 7);
}

.col-xs-8{
  flex-basis: calc((100% / 12) * 8);
  max-width: calc((100% / 12) * 8);
}

.col-xs-9{
  flex-basis: calc((100% / 12) * 9);
  max-width: calc((100% / 12) * 9);
}

.col-xs-10{
  flex-basis: calc((100% / 12) * 10);
  max-width: calc((100% / 12) * 10);
}

.col-xs-11{
  flex-basis: calc((100% / 12) * 11);
  max-width: calc((100% / 12) * 11);
}

.col-xs-12{
  flex-basis: calc((100% / 12) * 12);
  max-width: calc((100% / 12) * 12);
}

/* OFFSET XS */

.col-off-xs-1{
  margin-left: calc((100% / 12) * 1);
}

.col-off-xs-2{
  margin-left: calc((100% / 12) * 2);
}

.col-off-xs-3{
  margin-left: calc((100% / 12) * 3);
}

.col-off-xs-4{
  margin-left: calc((100% / 12) * 4);
}

.col-off-xs-5{
  margin-left: calc((100% / 12) * 5);
}

.col-off-xs-6{
  margin-left: calc((100% / 12) * 6);
}

.col-off-xs-7{
  margin-left: calc((100% / 12) * 7);
}

.col-off-xs-8{
  margin-left: calc((100% / 12) * 8);
}

.col-off-xs-9{
  margin-left: calc((100% / 12) * 9);
}

.col-off-xs-10{
  margin-left: calc((100% / 12) * 10);
}

.col-off-xs-11{
  margin-left: calc((100% / 12) * 11);
}

/*=========================================================
MEDIA QUERY
=========================================================*/

/* SM */
@media screen and (min-width: 576px){

  .container{
    width: 540px;
    margin: 0 auto;
  }

  .col-sm-1{
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
  }

  .col-sm-2{
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
  }

  .col-sm-3{
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
  }

  .col-sm-4{
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
  }

  .col-sm-5{
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
  }

  .col-sm-6{
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
  }

  .col-sm-7{
    flex-basis: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
  }

  .col-sm-8{
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
  }

  .col-sm-9{
    flex-basis: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
  }

  .col-sm-10{
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
  }

  .col-sm-11{
    flex-basis: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
  }

  .col-sm-12{
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
  }

  /* OFFSET sm */

  .col-off-sm-1{
    margin-left: calc((100% / 12) * 1);
  }

  .col-off-sm-2{
    margin-left: calc((100% / 12) * 2);
  }

  .col-off-sm-3{
    margin-left: calc((100% / 12) * 3);
  }

  .col-off-sm-4{
    margin-left: calc((100% / 12) * 4);
  }

  .col-off-sm-5{
    margin-left: calc((100% / 12) * 5);
  }

  .col-off-sm-6{
    margin-left: calc((100% / 12) * 6);
  }

  .col-off-sm-7{
    margin-left: calc((100% / 12) * 7);
  }

  .col-off-sm-8{
    margin-left: calc((100% / 12) * 8);
  }

  .col-off-sm-9{
    margin-left: calc((100% / 12) * 9);
  }

  .col-off-sm-10{
    margin-left: calc((100% / 12) * 10);
  }

  .col-off-sm-11{
    margin-left: calc((100% / 12) * 11);
  }

}

/* MD */
@media screen and (min-width: 768px){

  .container{
    width: 720px;
    margin: 0 auto;
  }

  .col-md-1{
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
  }

  .col-md-2{
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
  }

  .col-md-3{
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
  }

  .col-md-4{
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
  }

  .col-md-5{
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
  }

  .col-md-6{
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
  }

  .col-md-7{
    flex-basis: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
  }

  .col-md-8{
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
  }

  .col-md-9{
    flex-basis: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
  }

  .col-md-10{
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
  }

  .col-md-11{
    flex-basis: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
  }

  .col-md-12{
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
  }

  /* OFFSET MD */

  .col-off-md-1{
    margin-left: calc((100% / 12) * 1);
  }

  .col-off-md-2{
    margin-left: calc((100% / 12) * 2);
  }

  .col-off-md-3{
    margin-left: calc((100% / 12) * 3);
  }

  .col-off-md-4{
    margin-left: calc((100% / 12) * 4);
  }

  .col-off-md-5{
    margin-left: calc((100% / 12) * 5);
  }

  .col-off-md-6{
    margin-left: calc((100% / 12) * 6);
  }

  .col-off-md-7{
    margin-left: calc((100% / 12) * 7);
  }

  .col-off-md-8{
    margin-left: calc((100% / 12) * 8);
  }

  .col-off-md-9{
    margin-left: calc((100% / 12) * 9);
  }

  .col-off-md-10{
    margin-left: calc((100% / 12) * 10);
  }

  .col-off-md-11{
    margin-left: calc((100% / 12) * 11);
  }

}

/* LG */
@media screen and (min-width: 992px){

  .container{
    width: 100%;
  }

  .col-lg-1{
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
  }

  .col-lg-2{
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
  }

  .col-lg-3{
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
  }

  .col-lg-4{
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
  }

  .col-lg-5{
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
  }

  .col-lg-6{
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
  }

  .col-lg-7{
    flex-basis: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
  }

  .col-lg-8{
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
  }

  .col-lg-9{
    flex-basis: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
  }

  .col-lg-10{
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
  }

  .col-lg-11{
    flex-basis: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
  }

  .col-lg-12{
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
  }

  /* OFFSET LG */

  .col-off-lg-1{
    margin-left: calc((100% / 12) * 1);
  }

  .col-off-lg-2{
    margin-left: calc((100% / 12) * 2);
  }

  .col-off-lg-3{
    margin-left: calc((100% / 12) * 3);
  }

  .col-off-lg-4{
    margin-left: calc((100% / 12) * 4);
  }

  .col-off-lg-5{
    margin-left: calc((100% / 12) * 5);
  }

  .col-off-lg-6{
    margin-left: calc((100% / 12) * 6);
  }

  .col-off-lg-7{
    margin-left: calc((100% / 12) * 7);
  }

  .col-off-lg-8{
    margin-left: calc((100% / 12) * 8);
  }

  .col-off-lg-9{
    margin-left: calc((100% / 12) * 9);
  }

  .col-off-lg-10{
    margin-left: calc((100% / 12) * 10);
  }

  .col-off-lg-11{
    margin-left: calc((100% / 12) * 11);
  }

}