.container{
  width: 100%;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

[class*="col"]{
  background-color: cornflowerblue;
  border: 1px solid white;
  padding: 10px;
}

.col-xs-1{
  flex-basis: calc((100% / 12) * 1);
  max-width: calc((100% / 12) * 1);
}

.col-xs-2{
  flex-basis: calc((100% / 12) * 2);
  max-width: calc((100% / 12) * 2);
}

.col-xs-3{
  flex-basis: calc((100% / 12) * 3);
  max-width: calc((100% / 12) * 3);
}

.col-xs-4{
  flex-basis: calc((100% / 12) * 4);
  max-width: calc((100% / 12) * 4);
}

.col-xs-5{
  flex-basis: calc((100% / 12) * 5);
  max-width: calc((100% / 12) * 5);
}

.col-xs-6{
  flex-basis: calc((100% / 12) * 6);
  max-width: calc((100% / 12) * 6);
}

.col-xs-7{
  flex-basis: calc((100% / 12) * 7);
  max-width: calc((100% / 12) * 7);
}

.col-xs-8{
  flex-basis: calc((100% / 12) * 8);
  max-width: calc((100% / 12) * 8);
}

.col-xs-9{
  flex-basis: calc((100% / 12) * 9);
  max-width: calc((100% / 12) * 9);
}

.col-xs-10{
  flex-basis: calc((100% / 12) * 10);
  max-width: calc((100% / 12) * 10);
}

.col-xs-11{
  flex-basis: calc((100% / 12) * 11);
  max-width: calc((100% / 12) * 11);
}

.col-xs-12{
  flex-basis: calc((100% / 12) * 12);
  max-width: calc((100% / 12) * 12);
}

/* OFFSET LG */

.col-off-xs-1{
  margin-left: calc((100% / 12) * 1);
}

.col-off-xs-2{
  margin-left: calc((100% / 12) * 2);
}

.col-off-xs-3{
  margin-left: calc((100% / 12) * 3);
}

.col-off-xs-4{
  margin-left: calc((100% / 12) * 4);
}

.col-off-xs-5{
  margin-left: calc((100% / 12) * 5);
}

.col-off-xs-6{
  margin-left: calc((100% / 12) * 6);
}

.col-off-xs-7{
  margin-left: calc((100% / 12) * 7);
}

.col-off-xs-8{
  margin-left: calc((100% / 12) * 8);
}

.col-off-xs-9{
  margin-left: calc((100% / 12) * 9);
}

.col-off-xs-10{
  margin-left: calc((100% / 12) * 10);
}

.col-off-xs-11{
  margin-left: calc((100% / 12) * 11);
}